/*.point {
    stroke: rgb(0);
    stroke-width: 0px;
    fill: white;
}*/

/* reference: https://www.geeksforgeeks.org/how-to-center-text-horizontally-and-vertically-inside-a-div-block-in-css/ */

.title {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-size: 18px;
    font-weight: bold;
}

.axes {
    font-size: 14px;
}

.axis-x path,
.axis-y path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis-x .tick line,
.axis-y .tick line {
    stroke: #ccc;
}

.axis text {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-size: 12px;
}

.tooltip {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    padding: 2px;
    /* font: 100%; */
    background: rgba(255, 255, 255, 0.758);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    pointer-events: none;
  }