body {
    margin: 20px;
    background-color: #000144;
    /* background-color: #d20cff; */
}
h1 {
    color: #ffffff;
    text-align: center;
}

.heading {
    /* display: flex; */
    height: 250px;
}
.heading-text {
    font-size: 50pt;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
}
.chart-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 900px;
    height: 600px;
}
.chart-title {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
}

.text-container {
    background: rgb(204, 230, 255);
    padding: 20px;
    width: 100%;
    height: 300px;
}
.section-title {
    text-align: left;
    margin-bottom: 20px;
    font-size: 40px;
    color: #000000;
}
.section-text {
    font-size: 8mm;
    color: #000000;
}

.context {
    /* background: rgb(204, 230, 255); */
    padding: 10px;
    width: 100%;
    height: 300px;
}
.context-title {
    text-align: left;
    font-size: 40px;
    margin-bottom: 10px;
    color: #ffffff;
}
.follow-up-title {
    text-align: left;
    font-size: 30px;
    color: #ffffff;
    font-style: italic;
}
.context-text {
    font-size: 18px;
    color: #ffffff;
}
        /* .bar {
            fill: steelblue;
            transition: fill 0.3s;
        }
        .bar:hover {
            fill: #ff7f0e;
        } */
        /* .axis text {
            font-size: 12px;
        }
        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        } */
/* .axes {
    font-size: 14px;
} */

.axis-x path,
.axis-y path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis-x .tick line,
.axis-y .tick line {
    stroke: #ccc;
}

.axis text {
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-size: 12px;
}
/* .dot {
    fill: #ff7f0e;
    opacity: 0.7;
    transition: r 0.3s, opacity 0.3s;
}
.dot:hover {
    r: 8;
   opacity: 1;
}
.node {
    stroke: #fff;
    stroke-width: 1px;
    transition: opacity 0.3s;
}
.node:hover {
    opacity: 0.8;
} */

.tooltip {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    padding: 2px;
    background: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    pointer-events: none;
}